<div class="bottom-container container">
    <section class="about size-container">
        <div class="margin-text-about">
            <h2 class="endPage-title">DESIGN LIFE KIDS</h2>
            <h3 class="about-title-second">About Us</h3>
            <p class="endPage-text">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
            @@include('link-button/index.html',{
                "class": "about-button",
                "text": "buy now",
                "link": "/pages/toys"
            })
        </div>
        <div class="bg-about"></div>
    </section>
    <section class="contact size-container">
        <div class="contact-text-about">
            <h2 class="endPage-title">CONTACTS</h2>
            <p class="endPage-text">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
        </div>
        <div class="bg-contact"></div>
        <div class="map">
            <img src="/static/images/map.jpg" alt="map">
        </div>
    </section>
</div>