
@import "../../components/header/header";
@import "../../components/poster/poster";
@import "../../components/category/category";
@import "../../components/responsive/responsive";
@import "../../components/partners/partners";
@import "../../components/bottom-container/bottom-container";
@import "../../components/footer/footer";
@import "../../components/popupmenu/popupmenu";


.form-box {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(125, 151, 218, 0.8);
    z-index: 10;
}

.form-box_open {
    display: flex;
    justify-content: center;
    align-items: center;

}

.exit-button{
    border:none;
    background-color: transparent;
    width: 15px;
    height: 15px;
}