<div class="form-box">
    <form class="contact-us-form" action="/contact-us/index.html">
        <label class="text-lable">
            Name
            <input class="input-text plus" type="text" name="name" placeholder="Ivan Ivanov">
        </label>
        <div class="adress-box">
            <label class="text-lable">
                Phone
                <input class="input-text" type="tel" name="phone">
            </label>
            <label class="text-lable">
                Email
                <input class="input-text" type="email" name="email">
            </label>
        </div>
        <label class="text-lable">
            Massage
        <textarea class="area-place" name="massage" cols="30" rows="10"></textarea>
        </label>
        <label class="text-lable conset-text">
            <span class="input-checkbox-checker"></span>
            <input class="hidden input-checkbox" name="conent" type="checkbox" value="conent">
            <span class="checkbox-text"> By clicking on the button, you consent to the processing of your personal data</span>
            <span class="input-checkbox-checker"></span>
        </label>
        <button class="form-button button" type="submit">Submit</button>
    </form>
</div>