<div class="bg-menu show-menu_js">
    <div class="popup-menu container">
        <ul class="popup-menu__list">
            <li class="popup-menu__margin-link"><a class="popup-menu__link" href="/pages/blog">Blog</a></li>
            <li class="popup-menu__margin-link"><a class="popup-menu__link" href="/pages/catalog">Catalog</a></li>
            <li class="popup-menu__margin-link"><a class="popup-menu__link" href="#">About Us</a></li>
            <li class="popup-menu__margin-link"><a class="popup-menu__link" href="/pages/animation">Animation</a></li>
            <li class="popup-menu__margin-link"><a class="popup-menu__link" href="/pages/svg">SVG</a></li>
            <li class="popup-menu__margin-link"><a class="popup-menu__link" href="/pages/svg">GRID</a></li>
        </ul>
        <button class="popup-menu__search-contact">Contact Us</button>
    </div>
</div>