@import "../../components/vars";
@import "../../components/mixins";


.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 50px;
  @include media_interval($media_tablet, $media_desktop) {
    padding-top: 25px;
  }

  &__img {

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }

  }

  &__navigation {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
  }

  &__list {

    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
  }

  &__link {
    margin-left: 20px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #1E0606;

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
  }


  &__search-button {
    background-color: transparent;
    border: none;
    padding: 0 22px;
    transition: opacity 0.4s;

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }
  }


  &__search-contact {
    text-transform: uppercase;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background-color: transparent;
    border: none;
    transition: opacity 0.4s;
    color: #1E0606;

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }
  }
}




