@import "../../components/vars";
@import "../../components/mixins";

.header-fixed {

  @include media_interval('0', $media_desktop) {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 4;
    background-color: #ffffff;
  }

}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  padding-top: 50px;
  @include media_interval('0', $media_desktop) {
    display: flex;
    align-items: center;
    padding-top: 25px;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  &__logo {
    @include media_interval($media_tablet, $media_desktop) {
      width: 62px;
    }

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }

  }

  &__navigation {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;

    @include media_interval('0', $media_desktop) {
      display: none;
    }
  }


  &__list {

    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;

  }

  &__link {
    margin-left: 20px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #1E0606;

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    @include media_interval('0', $media_desktop) {
      padding: 0;
    }
  }


  &__search-button {
    background-color: transparent;
    border: none;
    padding: 0 22px;
    transition: opacity 0.4s;

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }
  }


  &__search-contact {
    text-transform: uppercase;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background-color: transparent;
    border: none;
    transition: opacity 0.4s;
    color: #1E0606;

    @include media_interval('0', $media_desktop) {
      display: none;
    }

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }
  }

  &__menu {
    display: none;
    @include media_interval('0', $media_desktop) {
      display: block;

      font-family: Open Sans;
      font-size: 14px;
      line-height: 19px;
      align-items: center;
      color: #1E0606;
      margin-left: auto;

      border: none;
      background-color: transparent;
      padding: 0;
    }

   }
  &__menu-close {
     font-size: 0;
     line-height: 0;
     background-image: url("../../static/images/close-menu.svg");
     width: 16px;
     height: 16px;
  }
}


