 <header class="header container">
        <a href="/pages/main/index.html">
            <img class="header-img" src="static/images/logo.svg" alt="DLK">
        </a>
        <nav class="header-nav">
            <ul class="header-nav-text">
                <li><a class="header-nav-link" href="../blog/index.html">Blog</a></li>
                <li><a class="header-nav-link" href="../category-products/index.html">Catalog</a></li>
                <li><a class="header-nav-link" href="#">About Us</a></li>
            </ul>
        </nav>
        <ul class="header-search">
            <li><button class="header-list-button">
                <img class="search-image" src="static/images/search.svg" alt="search">
            </button> </li>
            <li><button class="header-list-contact button-contact_js">Contact  Us</button></li>
        </ul>
    </header>