 <header class="header container">
        <a href="/index.html">
            <img class="header__img" src="/static/images/logo.svg" alt="DLK">
        </a>
        <nav class="header__navigation">
            <ul class="header__list">
                <li><a class="header__link" href="/pages/blog">Blog</a></li>
                <li><a class="header__link" href="/pages/catalog">Catalog</a></li>
                <li><a class="header__link" href="#">About Us</a></li>
            </ul>
        </nav>
        <ul class="header__search">
            <li><button class="header__search-button">
                <img class="search-image" src="/static/images/search.svg" alt="search">
            </button> </li>
            <li><button class="header__search-contact button-contact_js">Contact  Us</button></li>
        </ul>
    </header>