// Подключение компонентов

@import "./header/header";
@import "./footer/footer";
@import "./link-button/link-button";
@import "../components/vars";
@import "../components/mixins";
body {
    font-family: 'Open Sans','Arial', sans-serif;
}

a {
     text-decoration: none;
     cursor: default;
    }

html {
     box-sizing: border-box;
    }

*, *::before, *::after {
     box-sizing: inherit;
    }

img {
     max-width: 100%;
    }

ul {
    list-style-type: none;
}
.hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
    @include media_interval($media_tablet,$media_desktop) {
        max-width: 768px;
        padding:0 60px;
    }
}

/*apparel kids*/

.category-list {
    display: flex;

    margin: 50px 0 0 0;
    padding: 0 0;
    justify-content: space-between;

    @include media_interval($media_tablet,$media_desktop) {
        margin-top: 24px;
        overflow-x: auto;
    }
}

.product {
    display: flex;
    box-sizing: border-box;
    width: 280px;
    height: 270px;

    justify-content: center;
    align-items: center;
    @include media_interval($media_tablet,$media_desktop) {
        min-width: 258px;
        min-height: 249px;
        margin-right: 20px;

    }

}
.apparel-kids {
    background-image: url(static/images/apprel-kids.jpg);

}
.holiday {
    background-image:url(static/images/holyday-shop.jpg) ;
}

.toy {
    background-image: url(static/images/toys.jpg);
}
.accessories {
    background-image: url(static/images/accessories.jpg);
}
.sale {
    background-image: url(static/images/sale.jpg);
}
.apparel {
    background-image: url(static/images/apparel.jpg);
}

.product-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
    color: #FFFFFF;
}
.product-text:hover {
    text-decoration: underline;
}




