@import "../../components/vars";
@import "../../components/mixins";


.partners {
  margin: 90px auto;
  padding: 0 0;
  @include media_interval($media_tablet, $media_desktop) {
    margin: 60px auto;
    padding: 0 60px;
  }

  &__box {
    display: flex;
    padding: 0 0;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
  }

  &__logo {
    @include media_interval($media_tablet,$media_desktop) {
      max-width: 20%;
    }

    &:hover {
      opacity: 50%;
    }
  }
}

