@import "../../components/mixins";
@import "../../components/vars";

/* Footer  */

.footer {
  flex-wrap: wrap;
  padding: 100px;
  max-width: 1400px;
  @include media_interval($media_tablet, $media_desktop) {
    max-width: 768px;
    padding: 80px 60px;
  }

  &_bg {
    background-color: #434343;
  }

  &__inside {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

  }

  &__coloms {
    width: 33%;
  }

  &__title {

    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 23px;

    border-bottom: 1px solid #666666;

    color: #AAAAAA;
  }

  &__list {
    padding: 0 0;
    margin: 28px 0;
  }

  &__link {
    font-size: 16px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    color: #FFFFFF;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }

  &__right {
    margin-top: 25px;
  }

  &__input {
    display: flex;
  }

  &__social {
    display: flex;
    margin-top: 25px;
    padding: 0 0;
  }

  &__button {
    max-width: 80px;
  }

  &__social-link {

    margin-right: 10px;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }

  &__line-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 23px 0 0 0;
    border-top: 1px solid #666666;
  }

  &__bottom {
    flex-wrap: wrap;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
  }

  &__rating-box {
    display: flex;
    margin-right: 170px;
    max-width: 350px;

  }

  &__bottom-text {
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
    @include media_interval($media_tablet, $media_desktop) {
      margin-bottom: 15px;
      margin-top: 15px;
    }
      &_copirate {
        margin-right: 115px;
        max-width: 300px;
        @include media_interval($media_tablet, $media_desktop) {
          margin-right: 43px;
        }
      }

    }

    &__stars-box {
      display: flex;
      align-items: center;
      padding: 0 0;
      margin-left: 25px;
    }

    &__star {
      max-width: 17px;
      max-height: 17px;
      margin-right: 2.88px;
    }

    &__company-link {
      margin-right: 20px;
      font-size: 16px;
      line-height: 22px;
      @include media_interval($media_tablet, $media_desktop) {
        margin-right: 0px;
      }
      color: #A2A2A2;
      transition: color 0.4s;

      &:hover {
        color: #FFFFFF;
        text-decoration: underline;
      }
    }

  }


  .input-size {
    width: 300px;
    height: 40px;
    max-width: 300px;

    color: #EBEBEB;
    background-color: #666666;
    border: none;
    @include media_interval($media_tablet, $media_desktop) {
      width: 133px;
    }

  }

  input::placeholder {
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: #EBEBEB;;

    padding: 9px 15px;
  }












