.responsive {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  justify-content: flex-end;
  margin-top: 90px;

  @include media_interval($media_tablet, $media_desktop) {
    margin-top: 60px;
    padding: 0 60px;
  }
  @include media_interval('0', $media_tablet) {
    margin-top: 80px;
    flex-wrap: wrap;
    flex-direction: row;


  }

  &__box {
    box-sizing: border-box;
    width: 50%;
    margin-left: 120px;
    @include media_interval($media_tablet, $media_desktop) {
      margin-left: 56px;
    }
    @include media_interval('0', $media_tablet) {
      width: 100%;
      margin-left: 0;
      order: 2;
    }
  }

  &__title {
    margin-top: 30px;

    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 38px;
    line-height: 46px;

    text-transform: uppercase;

    color: #1E0606;

    @include media_interval($media_tablet, $media_desktop) {
      margin-top: 30px;
      font-size: 36px;
      line-height: 44px;
    }
    @include media_interval('0', $media_tablet) {
      margin-top: 20px;
      font-size: 24px;
      line-height: 29px;
    }
  }


  &__margin {
    margin-left: -60px;

    @include media_interval($media_tablet, $media_desktop) {
      margin-left: -26px;
    }
    @include media_interval('0', $media_tablet) {
      margin-left: 0;
    }

  }

  &__button {
    font-family: 'Crimson Text', 'Georgia', serif;
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    text-transform: capitalize;
    text-align: left;

    width: 326px;
    height: 55px;

    padding: 11px 0 11px 60px;

    color: #1E0606;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;

    @include media_interval($media_tablet, $media_desktop) {
      font-size: 24px;
      line-height: 30px;
      max-width: 276px;

      padding: 15px 0 15px 20px;
    }
    @include media_interval('0', $media_tablet) {
      font-size: 24px;
      line-height: 30px;
      max-width: 267px;
      padding: 8px 20px 7px 20px;
      font-weight: bold;
    }

    &_no-focus {
      font-weight: normal;
      background-color: white;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 22px;

    color: #1E0606;
    margin-top: 15px;
    @include media_interval($media_tablet, $media_desktop) {
      font-size: 14px;
      line-height: 19px;
    }
    @include media_interval('0', $media_tablet) {
      margin-top: 13px;
    }
  }

  &__learn {
    margin-top: 26px;

    @include media_interval($media_tablet, $media_desktop) {
      margin-top: 20px;
    }
    @include media_interval('0', $media_tablet) {
      margin-top: 20px;
      font-size: 14px;
      line-height: 19px;
      padding: 8px 20px;
      max-width: 132px;
    }
  }

  &__img {
    width: 50%;
    @include media_interval('0', $media_tablet) {
      width: 100%;
      padding: 0 20px;
      order: 1;
    }
  }

}


